@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #DCE6F2;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
}

.container_all{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 250px;
    width: 340px;
}

.container_img img{
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.titulo{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

span{
    color: #79717A;
    margin: 0 auto;
    display: block;
}

@media(min-width:400px) and (max-width:620px){
    .container_all{
        width: 370px;
        top: 200px;
        border-radius: 20px;
    }

    span{
        text-align: center;
    }
}